.home{
    display: flex;

    .home_container{
        flex: 5;

        .widgetsContainer{
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            gap: 20px;
        }

        .charts{
            display: flex;
            flex-wrap: wrap;
            padding: 0px 20px;
            gap: 20px;
        }

        .listContainer{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47) ;
            box-shadow: 2px 4px 10px 1px rgba(201,201,201 ,0.47) ;
            border-radius: 10px;
            padding: 20px;
            margin: 20px;

            .listTitle{
                font-weight: 500;
                margin-bottom: 15px;
                color: gray;
            }
        }
    }
}