.nav{
    height: 57px;
    border-bottom: 2px solid rgb(240, 240, 240);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px;
    }

    .search{
        display: flex;
        align-items: center;
        border: 0.5px solid lightgrey;
        padding: 3px;
        border-radius: 8px;
        width: 30%;

        .icon{
            cursor: pointer;
            font-size: 23px;
        }

        input{
            border: none;
            outline: none;
            background-color: transparent;
            padding: 2px 5px;
            width: 100%;
            color: #555;
            letter-spacing: 00.5px;
            

            &::placeholder{
                font-size: 12px;
            }
        }
    }

    .items{
        display: flex;
        align-items: center;

        

        .item{
            display: flex;
            align-items: center;
            margin-right: 20px;
            position: relative;

            span{
                margin-left: 5px;
                margin-top: 2px;
                font-size: 11px;
                color: #999;
            }

            .counter{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                font-size: 10px;
                font-weight: bold;
                background-color: red;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -8px;
                right: -8px;
            }

            

            .icon{
                font-size: 20px;
                cursor: pointer;
            }

            .profileImage{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
                margin-left: 50px;
                cursor: pointer;
            }
        }
    }
}