.new{
    display: flex;
    width: 100%;

    .newContainer{
        flex: 5;

        .top, .bottom{
            padding: 10px 20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47) ;
            box-shadow: 2px 4px 10px 1px rgba(201,201,201 ,0.47) ;
            border-radius: 10px;
            margin: 20px;
            display: flex;

            .title{
                color: gray;
                font-size: 20px;
            }

            .left{
                flex: 1;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                .image{

                    height: 250px;
                    width: 250px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .right{
                flex: 2;
                padding-block: 20px;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    margin-left: 30px;

                    .formInput{
                        width: 40%;
                        label{
                            font-size: 11px;
                            color: gray;
                            padding-left: 5px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            .icon{
                                cursor: pointer;
                                color: #74518f;
                            }
                        }
                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            outline: none;
                            transition: 0.7s ease-in-out;
                            &:focus{
                                border-bottom: 1px solid #48315a;
                            }
                        }
                    }
                    button{
                        margin-top: 10px;
                        width: 120px;
                        border: none;
                        border-radius: 5px;
                        padding: 10px;
                        letter-spacing: 1px;
                        background-color: #74518f;
                        color: white;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}