.dataTable{
    height: calc(100vh - 60px);
    padding: 15px 20px;

    .datatableTitle{
        width: 100%;
        font-size: 20px;
        color: gray;
        margin-bottom: 10px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link{
            text-decoration: none;
            color: teal;
            font-weight: 400;
            background-color: transparent;
            font-size: 14px;
            padding: 5px 10px;
            border: 1px solid teal;
        }
    }

    .cellWithImage{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            margin-right: 20px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
        &.active{
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }
        &.pending{
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.151);
        }
        &.passive{
            color: crimson;
            background-color: rgba(255, 0, 0, 0.151);
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButtton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.54);
            cursor: pointer;
            background-color: transparent;
        }
        .deleteButtton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.54);
            cursor: pointer;
            background-color: transparent;

        }
    }
}